<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

    <title>Hi!</title>
</head>
<body>
    
<h1>Hello from Render</h1>
{% if name %}
<h2>and hello to {{name}}</h2>
{% endif %}

<h2>Sign in to the guestbook!</h2>
<form method="post" action="/guestbook">
    <input type="text" name="guest_name" placeholder="Your Name">
    <input type="text" name="guest_message" placeholder="Your Message">
    <button type="submit"></button>
</form>

<h2>Guest List</h2>
<ol>
    {% for g in guests %}
    <li>{{ g.guest_name }}: {{ g.guest_message }}</li>
    {% endfor %}
</ol>
</body>
</html>